# Advanced Regular Expressions Lab

Complete the following set of exercises to solidify your knowledge of regular expressions.

In [1]:
import re

### 1. Use a regular expression to find and extract all vowels in the following text.

In [2]:
text = "This is going to be a sentence with a good number of vowels in it."

In [6]:
vowels = '[a, e, i, o, u]'
re.findall(vowels, text)

['i',
 ' ',
 'i',
 ' ',
 'o',
 'i',
 ' ',
 'o',
 ' ',
 'e',
 ' ',
 'a',
 ' ',
 'e',
 'e',
 'e',
 ' ',
 'i',
 ' ',
 'a',
 ' ',
 'o',
 'o',
 ' ',
 'u',
 'e',
 ' ',
 'o',
 ' ',
 'o',
 'e',
 ' ',
 'i',
 ' ',
 'i']

### 2. Use a regular expression to find and extract all occurrences and tenses (singular and plural) of the word "puppy" in the text below.

In [7]:
text = "The puppy saw all the rest of the puppies playing and wanted to join them. I saw this and wanted a puppy of my own!"

In [8]:
re.findall(r'puppy|puppies', text)

['puppy', 'puppies', 'puppy']

### 3. Use a regular expression to find and extract all tenses (present and past) of the word "run" in the text below.

In [14]:
text = "I ran the relay race the only way I knew how to run it."

In [10]:
re.findall(r'run|ran', text)

['ran', 'run']

### 4. Use a regular expression to find and extract all words that begin with the letter "r" from the previous text.

In [15]:
re.findall(r'r[a-z]+', text)

['ran', 'relay', 'race', 'run']

### 5. Use a regular expression to find and substitute the letter "i" for the exclamation marks in the text below.

In [12]:
text = "Th!s !s a sentence w!th spec!al characters !n !t."

In [16]:
re.sub('!', 'i', text)

'I ran the relay race the only way I knew how to run it.'

### 6. Use a regular expression to find and extract words longer than 4 characters in the text below.

In [17]:
text = "This sentence has words of varying lengths."

In [19]:
re.findall(r'\b[a-zA-Z]{5,}\b', text)

['sentence', 'words', 'varying', 'lengths']

### 7. Use a regular expression to find and extract all occurrences of the letter "b", some letter(s), and then the letter "t" in the sentence below.

In [20]:
text = "I bet the robot couldn't beat the other bot with a bat, but instead it bit me."

In [21]:
re.findall('b[^.t/]', text)

['be', 'bo', 'be', 'bo', 'ba', 'bu', 'bi']

### 8. Use a regular expression to find and extract all words that contain either "ea" or "eo" in them.

In [22]:
text = "During many of the peaks and troughs of history, the people living it didn't fully realize what was unfolding. But we all know we're navigating breathtaking history: Nearly every day could be — maybe will be — a book."

In [23]:
re.findall(r'[a-zA-Z]+(?:eo|ea)[a-z]+', text)

['peaks', 'people', 'realize', 'breathtaking', 'Nearly']

### 9. Use a regular expression to find and extract all the capitalized words in the text below individually.

In [24]:
text = "Teddy Roosevelt and Abraham Lincoln walk into a bar."

In [25]:
re.findall(r'[A-Z]+[a-z]+', text)

['Teddy', 'Roosevelt', 'Abraham', 'Lincoln']

### 10. Use a regular expression to find and extract all the sets of consecutive capitalized words in the text above.

In [27]:
re.findall(r'[A-Z]+[a-z]+ [A-Z]+[a-z]+', text)

['Teddy Roosevelt', 'Abraham Lincoln']

### 11. Use a regular expression to find and extract all the quotes from the text below.

*Hint: This one is a little more complex than the single quote example in the lesson because there are multiple quotes in the text.*

In [28]:
text = 'Roosevelt says to Lincoln, "I will bet you $50 I can get the bartender to give me a free drink." Lincoln says, "I am in!"'

In [29]:
re.findall(r'\"([^\"]*)\"', text)

['I will bet you $50 I can get the bartender to give me a free drink.',
 'I am in!']

### 12. Use a regular expression to find and extract all the numbers from the text below.

In [30]:
text = "There were 30 students in the class. Of the 30 students, 14 were male and 16 were female. Only 10 students got A's on the exam."

In [33]:
re.findall(r'[0-9]+', text)

['30', '30', '14', '16', '10']

### 13. Use a regular expression to find and extract all the social security numbers from the text below.

In [34]:
text = """
Henry's social security number is 876-93-2289 and his phone number is (847)789-0984.
Darlene's social security number is 098-32-5295 and her phone number is (987)222-0901.
"""

In [35]:
re.findall(r'\d..-..-....', text)

['876-93-2289', '098-32-5295']

### 14. Use a regular expression to find and extract all the phone numbers from the text above.

In [36]:
re.findall(r'[(]\d..[)]...-....', text)

['(847)789-0984', '(987)222-0901']

### 15. Use a regular expression to find and extract all the formatted numbers (both social security and phone) from the text above.

In [37]:
re.findall(r'\d..-..-....|[(]\d..[)]...-....', text)

['876-93-2289', '(847)789-0984', '098-32-5295', '(987)222-0901']